@import "_main-view.scss";
@import "_form-view.scss";
@import "_edit-view.scss";

.app-container {
	@extend .container;
	background-color: #f5f5f5;
	border: 2px outset lightgrey;
	width: 80%;
}

.main-area {
	@extend .row;
}
